@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
}

h1 {
    color: white;
}

/* Navbar */

.navbar {
    background-color: #643e79;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

/* CSS */

.button-56 {
    margin: 27px 20px;
    align-items: center;
    background-color: rgb(247 219 125);
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    /* height: 48px; */
    height: 20px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

/* Logo */

.logo_img {
    width: 120px;
}

.mfa_logo {
    width: 80px;
    margin-left: 12px;
    border-radius: 100%;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-img {
    height: 455px;
    width: 675px;
}

/* Media query */
@media (max-width: 768px) {
    .button-56 {
        /* padding: 0 40px; */
        height: 40px;
    }

    .button-56:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 40px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform 0.2s ease-out;
        z-index: -1;
    }
}

.cropped-ofp {
    width: 100px;
    height: 750px;
    object-fit: cover;
    object-position: 25% 85%;
}
